.footer-area.footer-5 {
    background: rgb(40,13,77);
    background: linear-gradient(90deg, rgba(40,13,77,1) 0%, rgba(15,8,73,1) 49%, rgba(29,9,57,1) 100%);
}

.footer-5 #page-footer a{
    color:#ffffff;
}
.footer-5 #page-footer{
    text-align: center;
}

.footer-5 .footer-navigation{
    color:#ffb200;
}




.footer-5 .footer-lists {
    position: relative;
    list-style: none;
    margin-left: -35px;
}

.footer-5 .footer-lists li {
    position: relative;
    margin-bottom: 8px;
}

.footer-5 .footer-lists li a {
    position: relative;
    color: #999999;
    font-size: 15px;
    font-weight: 400;
    padding-left: 20px;
    -webkit-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    transition: all 300ms ease;
}

.footer-5 .footer-lists li a:before {
    position: absolute;
    content: '\f105';
    left: 0px;
    top: 1px;
    line-height: 1em;
    color: #ffb200;
    font-family: 'FontAwesome';
}

.footer-5 .footer-lists li a:hover {
    color: #ffb200;
}


.footer-5 .subscribe-widget .text {
    position: relative;
    color: #999999;
    font-size: 15px;
    line-height: 1.8em;
    margin-bottom: 30px;
}

.footer-5 .subscribe-form {
    position: relative;
    margin-bottom: 30px;
    margin-top: 20px;
}

.footer-5 .subscribe-form .form-group {
    position: relative;
    display: block;
    z-index: 1;
    margin-bottom: 0px;
}

.footer-5 .subscribe-form .form-group input[type="text"],
.footer-5 .subscribe-form .form-group input[type="tel"],
.footer-5 .subscribe-form .form-group input[type="email"],
.footer-5 .subscribe-form .form-group textarea {
    position: relative;
    width: 100%;
    line-height: 30px;
    padding: 10px 20px;
    height: 50px;
    color: #ffffff;
    display: inline-block;
    font-size: 13px;
    border-radius: 50px;
    background: #444444;
    -webkit-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    transition: all 300ms ease;
}

.footer-5 .subscribe-form .form-group input[type="submit"],
.footer-5 .subscribe-form .form-group button {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0px;
    right: 0px;
    color: #222222;
    font-size: 18px;
    padding-right: 6px;
    border-radius: 0px 50px 50px 0px;
    display: inline-block;
    background-color: #ffb200;
}

.footer-5 .main-footer .footer-bottom {
    position: relative;
    padding: 22px 0px;
    text-align: center;
    background-color: #ffb200;
}

.footer-5 .main-footer .footer-bottom .copyright {
    position: relative;
    color: #0b0b0b;
}
.footer-area.footer-5 {
  margin-top: auto;
}